@page "/"
@using FotoManagerLogic.Business
@inject IProjectService ProjectService

<nav class="navbar navbar-dark bg-dark">
    <div class="btn-group mr-2" role="group" aria-label="Second group">
        <button type="button" class="btn btn-secondary" @onclick="@(async () => await ProjectService.LoadImagesAsync())">
            <span class="fa fa-plus-square fa-sm"></span>
            <br>
            <span class="small">Bilder laden</span>
        </button>
    </div>
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <button type="button" class="btn btn-secondary" @onclick="@(async () => await ProjectService.LoadProjectAsync())">
            <span class="fa fa-folder-open fa-sm"></span>
            <br>
            <span class="small">Projekt öffnen</span>
        </button>
    </div>
    @if (ProjectService.CurrentProject.NumberOfImages > 0)
    {
        <div class="btn-group mr-2" role="group" aria-label="Third group">
            <button type="button" class="btn btn-secondary" @onclick="@(async () => await ProjectService.SaveProjectAsync())">
                <span class="fa fa-save fa-sm"></span>
                <br>
                <span class="small">Projekt speichern</span>
            </button>
        </div>
    }
    @if (ProjectService.CurrentProject.SumOfCopies > 0)
    {
        <div class="btn-group mr-2" role="group" aria-label="Third group">
            <button type="button" class="btn btn-secondary" @onclick="@(async () => await ProjectService.ExportAsync())">
                <span class="fa fa-clone fa-sm"></span>
                <br>
                <span class="small">Bilder exportieren</span>
            </button>
        </div>
    }
</nav>

<div class="container">
    <div class="row">
        <div class="col">
            @if (ProjectService.ExportStatus == ExportStatus.ExportSuccessful)
            {
                <div class="alert alert-success" role="alert">Export erfolgreich abgeschlossen!</div>
            }
            else if ((ProjectService.ExportStatus == ExportStatus.Exporting))
            {
                <div class="alert alert-warning" role="alert">
                    <div class="d-flex align-items-center">
                        <strong>Exportiere...</strong>
                        <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
                    </div>
                </div>
            }
        </div>
    </div>
    @if (ProjectService.ExportStatus != ExportStatus.Exporting && ProjectService.CurrentProject.NumberOfImages > 0)
    {
        <div class="row">
            <div class="col">
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Aktuelles Bild (@ProjectService.CurrentProject.CurrentImage.FileName)</h5>
                        <p class="card-text text-dark" style="height: 1rem;">
                            <button type="button" class="btn btn-link" title="1 Bild zurück" @onclick="@ProjectService.CurrentProject.PreviousImage">
                                <span class="fa fa-chevron-circle-left fa-lg text-dark"></span>
                            </button>
                            <button type="button" class="btn btn-link" title="1 Bild vorwärts" @onclick="@ProjectService.CurrentProject.NextImage">
                                <span class="fa fa-chevron-circle-right fa-lg text-dark"></span>
                            </button>
                            Bild @(ProjectService.CurrentProject.CurrentImageIndex + 1) von @ProjectService.CurrentProject.NumberOfImages
                        </p>
                        <p class="card-text text-dark" style="height: 1rem;">
                            <button type="button" class="btn btn-link" title="1 Kopie hinzufügen" @onclick="@ProjectService.CurrentProject.CurrentImage.Increase">
                                <span class="fa fa-plus-circle fa-lg text-dark"></span>
                            </button>
                            <button type="button" class="btn btn-link" title="1 Kopie entfernen" @onclick="@ProjectService.CurrentProject.CurrentImage.Decrease">
                                <span class="fa fa-minus-circle fa-lg text-dark"></span>
                            </button>
                            Anzahl Kopien: @ProjectService.CurrentProject.CurrentImage.NumberOfCopies
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Übersicht</h5>
                        <p class="card-text text-dark" style="height: 1rem;">Geladene Bilder: @ProjectService.CurrentProject.NumberOfImages</p>
                        <p class="card-text text-dark" style="height: 1rem;">Kopien insgesamt: @ProjectService.CurrentProject.SumOfCopies</p>
                    </div>
                </div>
            </div>
        </div>
    }
    @if (ProjectService.CurrentProject.CurrentImage != null)
    {
        <div class="row">
            <div class="col">
                <img class="img-fluid" src="file:///@ProjectService.CurrentProject.CurrentImage.Path"/>
            </div>
        </div>
    }
</div>