@page "/"
@inject ProjectService ProjectService

<div class="pos-f-t">
    <nav class="navbar navbar-dark bg-dark">
        <button>
            <span class="fa fa-plus-square fa-sm"></span>
            <br>
            <span class="small">Bilder laden</span>
        </button>
        <button>
            <span class="fa fa-folder-open fa-sm"></span>
            <br>
            <span class="small">Projekt öffnen</span>
        </button>
        <button *ngIf="project.images.length > 0">
            <span class="fa fa-save fa-sm"></span>
            <br>
            <span class="small">Projekt speichern</span>
        </button>
        <button *ngIf="project.sumOfCopies > 0">
            <span class="fa fa-clone fa-sm"></span>
            <br>
            <span class="small">Bilder exportieren</span>
        </button>
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            @if (ProjectService.CurrentProject.DuringExport)
            {
                <div class="progress">
                    <div class="progress-bar" role="progressbar" [style.width]="project.progressValue + '%'" [attr.aria-valuenow]="project.progressValue" aria-valuemin="0" aria-valuemax="100">{{ project.progressValue }} %</div>
                </div>
            }
            @if (!string.IsNullOrWhiteSpace(ProjectService.CurrentProject.ExportStatus))
            {
                <div class="alert alert-success" role="alert">@ProjectService.CurrentProject.ExportStatus</div>
            }
        </div>
    </div>
    @if (!ProjectService.CurrentProject.DuringExport && ProjectService.CurrentProject.NumberOfImages > 0)
    {
        <div class="row">
            <div class="col">
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Aktuelles Bild (@ProjectService.CurrentProject.CurrentImage.FileName)</h5>
                        <p class="card-text text-dark" style="height: 1rem;">
                            <button title="1 Bild zurück">
                                <span class="fa fa-chevron-circle-left fa-lg text-dark"></span>
                                1 Bild zurück
                            </button>
                            <button title="1 Bild vorwärts">
                                <span class="fa fa-chevron-circle-right fa-lg text-dark"></span>
                                1 Bild vorwärts
                            </button>
                            Bild @(ProjectService.CurrentProject.CurrentImageIndex + 1) von @ProjectService.CurrentProject.NumberOfImages
                        </p>
                        <p class="card-text text-dark" style="height: 1rem;">
                            <button title="1 Kopie hinzufügen">
                                <span class="fa fa-plus-circle fa-lg text-dark"></span>
                                1 Kopie hinzufügen
                            </button>
                            <button title="1 Kopie entfernen">
                                <span class="fa fa-minus-circle fa-lg text-dark"></span>
                                1 Kopie entfernen
                            </button>
                            Anzahl Kopien: @ProjectService.CurrentProject.CurrentImage.NumberOfCopies
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Übersicht</h5>
                        <p class="card-text text-dark" style="height: 1rem;">Geladene Bilder: @ProjectService.CurrentProject.NumberOfImages</p>
                        <p class="card-text text-dark" style="height: 1rem;">Kopien insgesamt: @ProjectService.CurrentProject.SumOfCopies</p>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col">
            <img src="file:///D:/temp/P1020173.JPG" />
            <img src="file:///D:\temp\P1020173.JPG" />
        </div>
        <!-- <div *ngIf="project.currentImage.isLandscape" class="col">
          <img class="img-fluid" [src]="domSanitizationService.bypassSecurityTrustUrl(project.currentImage.path)" id="img" />
        </div>
        <div *ngIf="!project.currentImage.isLandscape" class="col">
          <img class="img-fluid" [src]="domSanitizationService.bypassSecurityTrustUrl(project.currentImage.path)" id="img" />
        </div> -->
    </div>
</div>